.title {
  margin-bottom: 8px;
  margin-top: 15px;
  font-size: 22px;
  line-height: 1.572;
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: 0.04em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text {
  line-height: 1.172;
  font-weight: 300;
  line-height: 1.1;
  letter-spacing: 0.04em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
